/* main css file for website */

body {
    font-size: 12;
    background-color: #808080;
    font-family: 'Times New Roman', sans-serif, serif;
}

#container {
    width: 1000px;
    text-align: center;
    margin: auto;
}



/* -------------------navbar--------------------- */
#navbar {
    
}

#logo{
    float: left;
}

#menu {
    float: right;
    text-align: center;
    background-color: lightgray;
    width: 100px;
    padding: 10px;
}

#loginbox {
    float: right;
}
/* -------------------navbar--------------------- */



.danger {
    clear:both;
    background-color: #ff0000;
    padding: 1px;
    border-left: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
}

#start {

}
#files {
    table-layout:auto;
    border: 3px solid white;
    border-radius: 5px;
}
#news {

}
#credits {

}
#footer {
    clear: both;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

td {
    padding: 5px;
    background-color: #96D4D4;
}

