/* main css file for website */

body {
    font-size: 16px;
    background-color: #808080;
    font-family: 'Arial', sans-serif, serif;
}

#container {
    width: 900px;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    border: 5px solid #0000ff;
}

#navbar {
    float: right;
    text-align: center;
    background-color: lightgray;
    width: 100px;
    padding: 5px;
}

#logo{
    float: left;
}

#loginbox {
    float: center;
    text-align: left;
}

.info-red {
    clear:both;
    background-color: #ff0000;
    padding: auto;
    border: 1px solid #ffffff;
    border-left: 10px solid #ffffff;
}

.info-blue {

}

.info-yellow {

}

#start {

}

#files {
    width: 600px;
    float: auto;
    table-layout:auto;
    border: 3px solid white;
    border-radius: 5px;
    margin: auto;
}

#news {

}

#credits {

}

#footer {
    clear: both;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

td {
    padding: 5px;
    background-color: #96D4D4;
}

