/* main css file for website */

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

body {
    font-family: Roboto,'Verdana','Tahoma', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #808080;
    word-wrap: break-word;
}

    /* ---------- container ---------- */
    #container {
        width: 1000px;
        margin: auto;
        padding: 10px;
        border: 5px solid #000000;
    }

        /* ---------- header ---------- */
        #header {
            /* float: center; */
        }

            #logo {
                /* background: url(images/tbx-logo-cs.png); */
                float: left;
                margin-bottom: 10px;
                width: 600px; 
                height: 200px;
                image-rendering: pixelated;
            }

            #loginbox {
                float: right;
            }
            
            /* visuals */
                #login, #password, #id-c2, #login-button, #signin-button {
                    background-color: #000000;
                    color: #ffffff;
                    float: right;
                }

                #loginbox, #start {
                    color: #ffffff;
                }

                .loginbox-textboxes, .loginbox-buttons {
                    padding: 5px;
                    margin: 2px;
                }

                .loginbox-textboxes {
                    font-family: 'Courier New', 'Courier', monospace;
                    width: 300px;
                }


                #if-dev {
                    margin-top: 10px;
                }
            /* end of visuals */

        /* ---------- end of header ---------- */

        /* navbar and visuals */
        #navbar {
            width:998px;
            background-color: #404040;
            float: left;
            border: 1px solid #ffffff;
        }

        #navbar a {
            float: left;
            display: block;
            text-align: center;
            padding: 10px 10px;
        }

        .sticky {
            position: fixed;
            top: 0;
        }
        .sticky + #articles {
            padding-top: 45px;
        }
        /* end of navbar and visuals */



        /* ---------- info boxes ---------- */
        .info-red, .info-blue, .info-yellow {
            padding: 0px 10px 0px 10px;
            background-color: #404040;
            margin: 10px 0px 10px 0px;
        }

        .info-red {
            border: 5px solid #ff0000;
            border-left: 20px solid #ff0000;
        }
        .info-blue {
            border: 5px solid #006eff;
            border-left: 20px solid #006eff;
        }
        .info-yellow {
            border: 5px solid #e5ff00;
            border-left: 20px solid #e5ff00;
        }
        /* ---------- end of info boxes ---------- */
        


        /* ---------- articles ---------- */
        #articles {
            clear:both;
            /*border: 1px solid #ffffff*/
        }

            .sections {
                border: 1px solid #ffffff;
                padding: 0px 10px 10px 10px;
            }

            .sections-title {
                text-align: right;
                padding-top: 10px;
            }

            /* ---------- end of articles ---------- */

        td {
            padding: 5px;
            color: #ffffff;
            background-color: #4eafaf;
        }

        td a {
            color: #faffad;
        }
        td a:hover {
            color: #f4ff60;
        }

        #footer {
            background-color: #000000;
            color: #ffffff;
            text-align: center;
            padding: 20px;
        }

        #footer a {
            text-decoration: none;
            color: #ffffff
        }

        a {
            color: #40eeff;
        }
        a:hover {
            color: #40aeff;
        }

    /* ---------- end of container ---------- */

/* ---------- end of body ---------- */