/* main css file for website */


/*body*/
body {
    background: url(images/tlo.png) #a0a0a0;
    font-family: 'Arial', sans-serif, serif;
    font-size: 16px;
    color: #fff;
}

a {
    color: #42ecff;
}


/*div structures*/
    #logo {
        float: left;
        margin-bottom: 5px;
        margin-right: 1px;
        width: 600px; 
        height: 200px;
        border: 3px #000000;
        border-radius: 4px;
        background: url(images/tbx-logo-cs.png);
    }

    #loginbox {
        float: left;
        margin-left: 20px;
    }

    #navbar {
        width: 98.9%;
        display: grid;
        clear: both;
        grid-template-columns: 5;
        grid-template-rows: 1;
    }

    /*navbar-grid structures*/
    #start-link {
        grid-column: 1/2;
    }

    #news-link {
        grid-column: 2/3;
    }

    #files-link {
        grid-column: 3/4;
    }

    #contact-link {
        grid-column: 4/5;
    }
    /*navbar-grid structures - end*/

    #news {
        padding: 10px;
        width: 580px;
        border: 3px solid rgb(119, 119, 119);
        border-radius: 5px;
        margin: auto;
    }

    h1 {
        text-align: center;
    }

    #credits {
        clear: both;
    }

    td {
        padding: 5px;
        color: #fff;
        background-color: #4eafaf;
        a {
            color: #faffb1;
        }
    }

    #files {
        width: 600px;
        float: auto;
        table-layout:auto;
        border: 3px solid rgb(119, 119, 119);
        border-radius: 5px;
        margin: auto;
    }

/*Div structures - end*/


/*log-form structure*/

    #loginbox-textboxes {
        float: left;
    }

/*log-form structure - end*/


/*Div stylesheet*/

    /*Container*/
    #container {
        width: 900px;
        margin: auto;
        padding: 10px;
        border-radius: 5px;
        border: 3px double #000000;
    }



    /*Navbar*/
    #navbar {
        text-align: center;
        background-color: #3C4447;
        padding: 5px;
        margin-right: 10px;
        border: 1.5px solid #fff;
        border-radius: 4px;
    }

    /*footer*/
    #footer {
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 20px;
    }

/*Div stylesheet - end*/


/*classes*/

.loginbox-right {
    float: left;
}









/*infobox status*/

    /*red (attention)*/
    .info-red {
        clear:both;
        color: #fc8686;
        background-color: #3C4447;
        border: 1.5px solid #fff;
        border-radius: 4px;
        border-left: 20px solid #ff0000;
        padding-left: 10px;
    }

    /*blue (version info)*/
    .info-blue {
        clear:both;
        color: #090081;
        background-color: #d4d4d4;
        border: 1.5px solid #fff;
        border-radius: 4px;
        border-left: 20px solid #006eff;
        padding-left: 10px;
    }

    /*yellow (other)*/
    .info-yellow {
        clear:both;
        color: #788100;
        background-color: #d4d4d4;
        border: 1.5px solid #000000;
        border-radius: 4px;
        border-left: 20px solid #e5ff00;
        padding-left: 10px;
    }

/*infobox status - end*/


/*logform*/

    #login, #passwodrd, #id-c2 {
        background-color: #111416;
        color: #fff;
    }

    #login-button, #signin-button {
        background-color: #111416;
        color: #fff;
    }

    #loginbox {
        color: #fff;
    }

    #start {
        color: #fff;
    }

    #wasistdas {
        background-color: #3C4447;
        color: #fff;
        border: 1.5px double #fff;
        border-radius: 5px;
    }



/*logform - end*/


/*visual*/
    .padding1 {
        padding: 5px;
        margin: 1px;
        margin-right: 10px;
    }

    .padding2 {
        padding: 5px;
        padding-right: 95px;
        margin: 1px;
    }
    
    #dev {
        margin-top: 7px;
        margin-left: 2.5px;
    }